
<div class="card my-4 mx-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{this.origin}}</p>
        <p class="card-text">{{this.shortCut}}</p>
        <a href="/eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a>
        <a href="/editar/{{this._id}}" class="btn btn-warning">Editar</a>
        <button data-short="{{this.shortCut}}" href="#" class="btn btn-info">Copiar</button>
    </div>
</div>